# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [4]:
# Your code goes here
# Your code here
import pandas as pd

original_file = r"C:\Users\toloz\Ironhack\Week 2\Project\my_data.csv"
# Load Titanic dataset from an online source
url_fil1_ext1 = r"https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
url_fil1_ext2 = r"https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"
df_file1_ext = pd.read_csv(url_fil1_ext1) 
df_file2_ext = pd.read_csv(url_fil1_ext2) 
df_original = pd.read_csv(original_file)

In [23]:
df_file1_ext.head()

,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [8]:
df_file2_ext.head()

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV

### Cleaning for df_file1_ext same steps from the original data set

In [18]:
df_file1_ext.rename(columns={ col: col.lower().replace(" ", "_") for col in df_file1_ext.columns }, inplace = True)

In [25]:
# st could be replaced for state
df_file1_ext = df_file1_ext.rename(columns={"st": "state"})

In [32]:
# Use replace to standardize
df_file1_ext["gender"]  = df_file1_ext["gender"].replace({"Femal":"F","Male":"M","female":"F"})

In [37]:
df_file1_ext["state"] = df_file1_ext["state"].replace({"AZ":"Arizona","WA":"Washington","Cali":"California"})

In [45]:
df_file1_ext["education"]  = df_file1_ext["education"].replace({"Bachelors":"Bachelor"})

In [48]:
df_file1_ext["customer_lifetime_value"] = df_file1_ext["customer_lifetime_value"].apply(lambda x: x.replace("%"," ").strip() if isinstance(x,str) else x )
df_file1_ext['customer_lifetime_value'] = pd.to_numeric(df_file1_ext['customer_lifetime_value'], errors='coerce')

In [51]:
df_file1_ext["vehicle_class"] = df_file1_ext["vehicle_class"].replace({"Sports Car":"Luxury","Luxury SUV":"Luxury","Luxury Car":"Luxury"})

In [71]:

df_file1_ext["number_of_open_complaints"] = df_file1_ext["number_of_open_complaints"].apply(lambda x: x.split("/")[1] if isinstance(x, str) else x)
df_file1_ext["number_of_open_complaints"] = df_file1_ext["number_of_open_complaints"].astype(int)
# Convert all applicable numeric columns to int
num_cols = df_file1_ext.select_dtypes(include=['float64']).columns
for col in num_cols:
    df_file1_ext[col] = df_file1_ext[col].astype(int)

In [58]:
# lets delete all rows with only missing values 
df_file1_ext.dropna(how="all",inplace = True)

In [64]:
df_file1_ext["customer_lifetime_value"] = df_file1_ext["customer_lifetime_value"].fillna(df_file1_ext["customer_lifetime_value"].mean())

In [69]:
df_file1_ext.duplicated().sum()

0

### Cleaning for df_file2_ext same steps from the original data set

In [75]:
df_file2_ext.rename(columns={ col: col.lower().replace(" ", "_") for col in df_file2_ext.columns }, inplace = True)

In [80]:
df_file2_ext["gender"]  = df_file2_ext["gender"].replace({"Femal":"F","Male":"M","female":"F"})

In [86]:
df_file2_ext["state"] = df_file2_ext["state"].replace({"AZ":"Arizona","WA":"Washington","Cali":"California"})

In [88]:
df_file2_ext["education"]  = df_file2_ext["education"].replace({"Bachelors":"Bachelor"})

In [92]:
df_file2_ext["customer_lifetime_value"] = df_file2_ext["customer_lifetime_value"].apply(lambda x: x.replace("%"," ").strip() if isinstance(x,str) else x )
df_file2_ext['customer_lifetime_value'] = pd.to_numeric(df_file2_ext['customer_lifetime_value'], errors='coerce')

In [94]:
df_file2_ext["vehicle_class"] = df_file2_ext["vehicle_class"].replace({"Sports Car":"Luxury","Luxury SUV":"Luxury","Luxury Car":"Luxury"})

In [96]:

df_file2_ext["number_of_open_complaints"] = df_file2_ext["number_of_open_complaints"].apply(lambda x: x.split("/")[1] if isinstance(x, str) else x)
df_file2_ext["number_of_open_complaints"] = df_file2_ext["number_of_open_complaints"].astype(int)
# Convert all applicable numeric columns to int
num_cols = df_file2_ext.select_dtypes(include=['float64']).columns
for col in num_cols:
    df_file2_ext[col] = df_file2_ext[col].astype(int)

In [98]:
# lets delete all rows with only missing values 
df_file2_ext.dropna(how="all",inplace = True)

In [100]:
df_file2_ext["customer_lifetime_value"] = df_file2_ext["customer_lifetime_value"].fillna(df_file2_ext["customer_lifetime_value"].mean())

In [102]:
df_file2_ext.duplicated().sum()

0

### Concat the data

In [123]:
Concat_data = pd.concat([df_original, df_file2_ext,df_file1_ext], axis=0).reset_index(drop=True)

In [127]:
Concat_data.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,793690,0,1000,0,Personal Auto,Four-Door Car,2
1,QZ44356,Arizona,F,Bachelor,697953,0,94,0,Personal Auto,Four-Door Car,1131
2,AI49188,Nevada,F,Bachelor,1288743,48767,108,0,Personal Auto,Two-Door Car,566
3,WW63253,California,M,Bachelor,764586,0,106,0,Corporate Auto,SUV,529
4,GA49547,Washington,M,High School or Below,536307,36357,68,0,Personal Auto,Four-Door Car,17

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [130]:
# Your code goes here

marketing_customer_analysis = r"https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"
df_marketing_customer = pd.read_csv(marketing_customer_analysis)

In [157]:
df_marketing_customer.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

In [138]:
df_marketing_customer.drop(columns ="unnamed:_0" ,inplace = True)

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [150]:
df_marketing_customer["sales_channel"].unique()

array(['Agent', 'Call Center', 'Branch', 'Web'], dtype=object)

In [164]:
df_marketing_customer.columns

Index(['customer', 'state', 'customer_lifetime_value', 'response', 'coverage',
       'education', 'effective_to_date', 'employmentstatus', 'gender',
       'income', 'location_code', 'marital_status', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies', 'policy_type',
       'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount',
       'vehicle_class', 'vehicle_size', 'vehicle_type', 'month'],
      dtype='object')

In [209]:
sales_pivot = df_marketing_customer.pivot_table(index='sales_channel', values='total_claim_amount', aggfunc='sum').round(2)
print(sales_pivot)

               total_claim_amount
sales_channel
Agent                  1810226.82
Branch                 1301204.00
Call Center             926600.82
Web                     706600.04

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [185]:
df_multindex  = df_marketing_customer.set_index(['gender', 'education'])

In [200]:
stacked_data = df_multindex

In [205]:
stacked_data["customer_lifetime_value"].groupby(['gender', 'education']).mean()

gender  education
F       Bachelor                7874.269478
        College                 7748.823325
        Doctor                  7328.508916
        High School or Below    8675.220201
        Master                  8157.053154
M       Bachelor                7703.601675
        College                 8052.459288
        Doctor                  7415.333638
        High School or Below    8149.687783
        Master                  8168.832659
Name: customer_lifetime_value, dtype: float64

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here